.todolist {
    padding: 20px;
    position: relative; }
.todolist h1 {
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    line-height: 1;
    padding-left: 50px; }
.todolist .todoadd {
    position: absolute;
    cursor: pointer;
    height: 40px;
    right: 20px;
    top: 20px; }

.todoul li {
    margin-top: 20px; }
.todoul dt {
    display: flex;
    cursor: pointer;
    align-items: center;
    color: #f3f3f3;
    font-size: 16px;
    justify-content: space-between; }
.todoul dt div {
    display: flex;
    align-items: center;
    font-size: 12px; }
.todoul dt img {
    width: 13px;
    margin-left: 10px; }

.todoul li:nth-child(1) .check {
    border: 3px solid #FF453A; }
.todoul li:nth-child(2) .check {
    border: 3px solid #FF9F0A; }
.todoul li:nth-child(3) .check {
    border: 3px solid #64D2FF; }
.todoul li:nth-child(3) ~ li .check {
    border: 3px solid #F3F3F3;
    background: url("../img/todook.png") no-repeat;
    background-size: 90%;
    background-position: center center; }

.item {
    padding: 10px;
    background: #282828;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    margin-top: 15px;
    align-items: flex-start; }
.item .check {
    cursor: pointer;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
.item .check img {
    width: 90%; }
.item .info {
    flex: 1;
    padding: 0 15px; }
.item .info .title {
    font-size: 16px;
    color: #fff;
    line-height: 1; }
.item .info p {
    color: #5A595E;
    font-size: 14px;
    margin-top: 10px; }
.item .tips {
    text-align: right; }
.item .tips .time {
    font-size: 12px;
    color: #3482F7;
    margin-bottom: 10px; }
.item .tips .time2 {
    color: #ccc; }
.item .tips img {
    cursor: pointer;
    width: 15px;
    display: inline-block; }

.down {
    transition: .2s; }

.ace {
    transform: rotateZ(90deg); }

.input {
    background: #282828;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    margin-top: 20px; }
.input span {
    flex: 0 0 80%;
    font-size: 16px;
    color: #F3F3F3; }
.input input {
    flex: 1;
    min-width: 10px;
    border: 0;
    background: transparent;
    outline: none;
    color: #fff;
    height: 100%; }
.input select {
    color: #3482F7;
    border: 0;
    background: transparent;
    outline: none; }

.te {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
.te textarea {
    height: 50px;
    margin-top: 10px;
    border: 0;
    background: transparent;
    outline: none;
    color: #fff;
    width: 100%;
    resize: none; }

.btnrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; }
.btnrow .div {
    margin: 0 20px;
    width: 149px;
    height: 58px;
    background: #5A595E;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    line-height: 58px;
    text-align: center;
    font-size: 24px; }

/*# sourceMappingURL=todo.css.map */
